<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Add League</h4>
        <div class="card-body">
            <form [formGroup]="leagueForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="title">League Name</label>
                    <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">League name is required</div>
                    </div>
                </div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Add League
                </button>&nbsp;&nbsp;
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
            <br>
            <button type="button" class="btn btn-danger" (click)="backClicked()">Cancel</button>
        </div>
    </div>
</div>